.search-box-container {
  min-width: 600px;
}

::ng-deep .search-box-container .mat-form-field-infix {
  border-top: none;
  margin-top: 5px;
}

::ng-deep .mat-form-field-suffix {
  top: 7px !important;
}

::ng-deep .mat-form-field-suffix:hover {
  cursor: pointer;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}
