@import './src/app/colors';

.body-container {
  padding: 10px;
}

.vl {
  margin-right: 10px;
  margin-top: -42px;
  margin-left: 10px;
  border-left: 2px solid $purple-lines;
  height: 1110px;
}

.hl {
  border-top: 2px solid $purple-lines;
  width: 100%;
}
