<mat-card class="product-card" fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="product.discount" class="discount-badge" fxLayoutAlign="center center">{{product.discount * 100}}%</div>

  <button mat-icon-button class="fav-icon" [ngClass]="{'mat-warn': isFav}" (click)="toggleFav()">
    <mat-icon>favorite</mat-icon>
  </button>

  <div class="product-image"></div>

  <div class="product-details" fxLayout="column" fxLayoutAlign="center center">

    <mat-card-title>Nume: {{ product.name }}</mat-card-title>
    <mat-card-content>Tip: {{ product.type }}</mat-card-content>
    <mat-card-content>Pret: {{ product.price }}</mat-card-content>

    <mat-card-actions>
      <button mat-stroked-button color="primary">ADAUGA</button>
    </mat-card-actions>

  </div>

</mat-card>
