.product-card {
  margin: 10px 10px;
  font-family: Calibri;
}

.mat-card {
  padding: 25px !important;
}

.discount-badge {
  position: absolute;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 10px;
  left: -5px;
  background: #ff363a;
  width: 80px;
  height: 25px;
  color: white;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.discount-badge:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #a9897f;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.fav-icon {
  position: absolute;
  top: 2px;
  right: 5px;
}

.product-image {
  background-image: url("https://picsum.photos/200");
  height: 125px;
  width: 125px;
  margin-bottom: 10px
}

.product-details {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mat-card {
  padding: 10px;
  width: 230px;
  height: 350px;
}

.mat-card-actions {
  margin-bottom: 0;
}
