<mat-card class="product-card"
          fxLayout="column"
          fxLayoutAlign="center center"
          routerLink="['/shop/details, product.id]">
  <div *ngIf="product.discount" class="discount-badge" fxLayoutAlign="center center">{{product.discount * 100}}%</div>

  <button mat-icon-button class="fav-icon" [ngClass]="{'mat-warn': isFav}" (click)="toggleFav()">
    <mat-icon>favorite</mat-icon>
  </button>

  <div class="product-image"></div>

  <div class="product-details" fxLayout="column" fxLayoutAlign="center center">

    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-content>{{ product.category }}</mat-card-content>
    <mat-card-content class="price-content">{{ product.price | number: '.1-3'}} Lei</mat-card-content>

    <mat-card-actions>
      <button mat-stroked-button color="primary" (click)="addToCart()">ADAUGA</button>
    </mat-card-actions>

  </div>

</mat-card>
