<div class="search-box">
  <mat-form-field appearance="outline" class="search-box-container">
    <input #searchInput
           placeholder="Cautarea dvs."
           matInput
           [formControl]="searchControl"
           [matAutocomplete]="auto"
           (keydown.enter)="addSearchQuery(searchInput.value)">
    <mat-icon matSuffix (click)="addSearchQuery(searchInput.value)">search</mat-icon>
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let productName of filteredOptions | async" [value]="productName">{{ productName }}</mat-option>
  </mat-autocomplete>
</div>
